<main>
    <h1>{{name}}</h1>
    <img class="toy" src="{{imageUrl}}">
    <div class="details">
        <p><span>Description:</span>{{description}}</p>
        <p><span>Age:</span> {{age}}</p>
        <a class="btn" href="/">Back</a>
        <a class="btn" href="/toy/{{_id}}/edit">Edit</a>
        <a class="btn" href="/toy/{{_id}}/delete">Delete</a>
    </div>
</main>